In [1]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# now go in the directory and get the columns in each file to see how we going to be doing the join to get a single file
# get files in the directory --> make the path to each file --> then try: learn about try catch and exception try must always have have an except, finally, or else clause.
def get_col_name(dir_path):
    files=os.listdir(dir_path)
    for file in files:
        file_path=os.path.join(dir_path,file)
        try:
            df=pd.read_csv(file_path)
            print(file)
            print(f"Columns: {list(df.columns)}")
            print("shape:",df.shape)
            print(df.isnull().sum())
            print("\n")
        except Exception as e:
            print(f"Error reading file {file}: {e}")

In [3]:
get_col_name("./data/training_data")

devices_train.csv
Columns: ['visit_occurrence_id', 'device_datetime_hourly', 'person_id', 'device']
shape: (750878, 4)
visit_occurrence_id       0
device_datetime_hourly    0
person_id                 0
device                    0
dtype: int64


drugsexposure_train.csv
Columns: ['visit_occurrence_id', 'person_id', 'drug_datetime_hourly', 'drug_concept_id', 'route_concept_id']
shape: (184780, 5)
visit_occurrence_id      0
person_id                0
drug_datetime_hourly     0
drug_concept_id          0
route_concept_id        22
dtype: int64


measurement_lab_train.csv
Columns: ['visit_occurrence_id', 'person_id', 'measurement_datetime', 'Base excess in Venous blood by calculation', 'Base excess in Arterial blood by calculation', 'Phosphate [Moles/volume] in Serum or Plasma', 'Potassium [Moles/volume] in Blood', 'Bilirubin.total [Moles/volume] in Serum or Plasma', 'Neutrophil Ab [Units/volume] in Serum', 'Bicarbonate [Moles/volume] in Arterial blood', 'Hematocrit [Volume Fraction] of Blood', 'Glucose [Moles/volume] in Serum or Plasma', 'Calcium [Moles/volume] in Serum or Plasma', 'Chloride [Moles/volume] in Blood', 'Sodium [Moles/volume] in Serum or Plasma', 'C reactive protein [Mass/volume] in Serum or Plasma', 'Carbon dioxide [Partial pressure] in Venous blood', 'Oxygen [Partial pressure] in Venous blood', 'Albumin [Mass/volume] in Serum or Plasma', 'Bicarbonate [Moles/volume] in Venous blood', 'Oxygen [Partial pressure] in Arterial blood', 'Carbon dioxide [Partial pressure] in Arterial blood', 'Interleukin 6 [Mass/volume] in Body fluid', 'Magnesium [Moles/volume] in Blood', 'Prothrombin time (PT)', 'Procalcitonin [Mass/volume] in Serum or Plasma', 'Lactate [Moles/volume] in Blood', 'Creatinine [Mass/volume] in Blood', 'Fibrinogen measurement', 'Bilirubin measurement', 'Partial thromboplastin time', ' activated', 'Total white blood count', 'Platelet count', 'White blood cell count', 'Blood venous pH', 'D-dimer level', 'Blood arterial pH', 'Hemoglobin [Moles/volume] in Blood', 'Ionised calcium measurement']
shape: (69307, 40)
visit_occurrence_id                                        0
person_id                                                  0
measurement_datetime                                       0
Base excess in Venous blood by calculation             49882
Base excess in Arterial blood by calculation           66760
Phosphate [Moles/volume] in Serum or Plasma            59111
Potassium [Moles/volume] in Blood                      37121
Bilirubin.total [Moles/volume] in Serum or Plasma      54584
Neutrophil Ab [Units/volume] in Serum                  44298
Bicarbonate [Moles/volume] in Arterial blood           66760
Hematocrit [Volume Fraction] of Blood                  41201
Glucose [Moles/volume] in Serum or Plasma              52839
Calcium [Moles/volume] in Serum or Plasma              60903
Chloride [Moles/volume] in Blood                       36266
Sodium [Moles/volume] in Serum or Plasma               36318
C reactive protein [Mass/volume] in Serum or Plasma    46036
Carbon dioxide [Partial pressure] in Venous blood      49880
Oxygen [Partial pressure] in Venous blood              47535
Albumin [Mass/volume] in Serum or Plasma               56555
Bicarbonate [Moles/volume] in Venous blood             47498
Oxygen [Partial pressure] in Arterial blood            66761
Carbon dioxide [Partial pressure] in Arterial blood    66760
Interleukin 6 [Mass/volume] in Body fluid              69246
Magnesium [Moles/volume] in Blood                      57648
Prothrombin time (PT)                                  61282
Procalcitonin [Mass/volume] in Serum or Plasma         56415
Lactate [Moles/volume] in Blood                        48999
Creatinine [Mass/volume] in Blood                      43054
Fibrinogen measurement                                 61336
Bilirubin measurement                                  57808
Partial thromboplastin time                            61333
 activated                                             44146
Total white blood count                                44204
Platelet count                                         62770
White blood cell count                                 47280
Blood venous pH                                        68937
D-dimer level                                          66756
Blood arterial pH                                      41830
Hemoglobin [Moles/volume] in Blood                     44215
Ionised calcium measurement                            69307
dtype: int64


measurement_meds_train.csv
Columns: ['visit_occurrence_id', 'person_id', 'measurement_datetime', 'Systolic blood pressure', 'Diastolic blood pressure', 'Body temperature', 'Respiratory rate', 'Heart rate', 'Measurement of oxygen saturation at periphery', 'Oxygen/Gas total [Pure volume fraction] Inhaled gas']
shape: (257749, 10)
visit_occurrence_id                                         0
person_id                                                   0
measurement_datetime                                        0
Systolic blood pressure                                217654
Diastolic blood pressure                               217667
Body temperature                                        53613
Respiratory rate                                       174445
Heart rate                                             160776
Measurement of oxygen saturation at periphery          160932
Oxygen/Gas total [Pure volume fraction] Inhaled gas    255702
dtype: int64


measurement_observation_train.csv
Columns: ['visit_occurrence_id', 'person_id', 'measurement_datetime', 'Left pupil Diameter Auto', 'Right pupil Diameter Auto', 'Glasgow coma scale', 'Capillary refill [Time]', 'Pulse', 'Arterial pulse pressure', 'Right pupil Pupillary response', 'Left pupil Pupillary response']
shape: (50553, 11)
visit_occurrence_id                   0
person_id                             0
measurement_datetime                  0
Left pupil Diameter Auto          20594
Right pupil Diameter Auto         20485
Glasgow coma scale                15448
Capillary refill [Time]           45150
Pulse                             45879
Arterial pulse pressure           45607
Right pupil Pupillary response    16666
Left pupil Pupillary response     16711
dtype: int64


observation_train.csv
Columns: ['visit_occurrence_id', 'person_id', 'observation_datetime', 'observation_concept_id', 'observation_concept_name', 'valuefilled']
shape: (3807, 6)
visit_occurrence_id         0
person_id                   0
observation_datetime        0
observation_concept_id      0
observation_concept_name    0
valuefilled                 0
dtype: int64


person_demographics_episode_train.csv
Columns: ['visit_occurrence_id', 'person_id', 'visit_start_date', 'birth_datetime', 'age_in_months', 'gender']
shape: (3391, 6)
visit_occurrence_id    0
person_id              0
visit_start_date       0
birth_datetime         0
age_in_months          0
gender                 0
dtype: int64


proceduresoccurrences_train.csv
Columns: ['visit_occurrence_id', 'procedure_datetime_hourly', 'person_id', 'procedure']
shape: (771214, 4)
visit_occurrence_id          0
procedure_datetime_hourly    0
person_id                    0
procedure                    0
dtype: int64


SepsisLabel_train.csv
Columns: ['person_id', 'measurement_datetime', 'SepsisLabel']
shape: (331653, 3)
person_id                0
measurement_datetime    16
SepsisLabel              0
dtype: int64

In [4]:
measurement_lab_train=pd.read_csv("data/training_data/measurement_lab_train.csv")
measurement_meds_train=pd.read_csv("data/training_data/measurement_meds_train.csv")
measurement_observation_train=pd.read_csv("data/training_data/measurement_observation_train.csv")

In [5]:
df_preprocess=[measurement_lab_train, measurement_meds_train, measurement_observation_train]
#  this was dumb i need to get the path though, like ??

In [6]:
def clean(dataarray):
    for df in dataarray:
        for col in df.columns:
            threshold=df.shape[0]* 0.5
            print(threshold)
            # now drop columns which exceed this threshold
            if df[col].isnull().sum() > threshold:
                df.drop(col, axis=1, inplace=True)

In [7]:
data=clean(df_preprocess)

34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
128874.5
128874.5
128874.5
128874.5
128874.5
128874.5
128874.5
128874.5
128874.5
128874.5
25276.5
25276.5
25276.5
25276.5
25276.5
25276.5
25276.5
25276.5
25276.5
25276.5
25276.5

In [8]:
measurement_lab_train.isnull().sum()

visit_occurrence_id     0
person_id               0
measurement_datetime    0
dtype: int64

In [9]:
measurement_lab_train.shape

(69307, 3)

In [10]:
measurement_lab_train.columns

Index(['visit_occurrence_id', 'person_id', 'measurement_datetime'], dtype='object')

In [11]:
measurement_meds_train.isnull().sum()

visit_occurrence_id         0
person_id                   0
measurement_datetime        0
Body temperature        53613
dtype: int64

In [12]:
measurement_observation_train.isnull().sum()

visit_occurrence_id                   0
person_id                             0
measurement_datetime                  0
Left pupil Diameter Auto          20594
Right pupil Diameter Auto         20485
Glasgow coma scale                15448
Right pupil Pupillary response    16666
Left pupil Pupillary response     16711
dtype: int64

done as of now
1. cleaned for null value columns greater than threshold

to do
1. empty but needs work
2. merging now
3. check class imbalance               |   feature engineering  |
4. identify relations                  |       pca              |
4. then standardize and normalize
5. model

In [16]:
for df in df_preprocess:
    print(df.columns)

Index(['visit_occurrence_id', 'person_id', 'measurement_datetime'], dtype='object')
Index(['visit_occurrence_id', 'person_id', 'measurement_datetime',
       'Body temperature'],
      dtype='object')
Index(['visit_occurrence_id', 'person_id', 'measurement_datetime',
       'Left pupil Diameter Auto', 'Right pupil Diameter Auto',
       'Glasgow coma scale', 'Right pupil Pupillary response',
       'Left pupil Pupillary response'],
      dtype='object')

In [17]:
print(measurement_lab_train.shape)
print(measurement_meds_train.shape)
print(measurement_observation_train.shape)

(69307, 3)
(257749, 4)
(50553, 8)

In [42]:
df=pd.merge(measurement_lab_train,measurement_meds_train, on='measurement_datetime')

In [43]:
df.shape

(388423, 6)

In [44]:
df.head()

,visit_occurrence_id_x,person_id_x,measurement_datetime,visit_occurrence_id_y,person_id_y,Body temperature
0,933758,523870286,2023-12-06 17:00:00,79100592,1899919907,NaN
1,933758,523870286,2023-12-06 17:00:00,261193377,955975280,37.0
2,933758,523870286,2023-12-06 17:00:00,432719838,2040408449,35.5
3,933758,523870286,2023-12-06 17:00:00,535631978,228919787,NaN
4,933758,523870286,2023-12-06 17:00:00,554898922,1314502207,NaN

In [45]:
df.isnull().sum()

visit_occurrence_id_x        0
person_id_x                  0
measurement_datetime         0
visit_occurrence_id_y        0
person_id_y                  0
Body temperature         81260
dtype: int64

In [46]:
df.drop('Body temperature',axis=1,inplace=True)

In [49]:
df.isnull().sum()

visit_occurrence_id_x    0
person_id_x              0
measurement_datetime     0
visit_occurrence_id_y    0
person_id_y              0
dtype: int64

In [50]:
df=pd.merge(df,measurement_observation_train,on='measurement_datetime')

In [51]:
df.shape

(537085, 12)

In [52]:
df.isnull().sum()

visit_occurrence_id_x                  0
person_id_x                            0
measurement_datetime                   0
visit_occurrence_id_y                  0
person_id_y                            0
visit_occurrence_id                    0
person_id                              0
Left pupil Diameter Auto          214909
Right pupil Diameter Auto         213861
Glasgow coma scale                185572
Right pupil Pupillary response    165601
Left pupil Pupillary response     164005
dtype: int64

In [27]:
df.head()

,visit_occurrence_id,person_id,measurement_datetime,Body temperature,Left pupil Diameter Auto,Right pupil Diameter Auto,Glasgow coma scale,Right pupil Pupillary response,Left pupil Pupillary response
0,2322668,1553934216,2024-10-17 16:00:00,36.4,2.0,2.0,11.0,Normal,Normal
1,2512220,1938267364,2024-09-19 05:00:00,36.5,NaN,NaN,15.0,NaN,NaN
2,2512220,1938267364,2024-09-19 06:00:00,NaN,2.0,2.0,13.0,Normal,Normal
3,2512220,1938267364,2024-09-20 07:00:00,37.3,3.0,3.0,5.0,Sluggish,Sluggish
4,2512220,1938267364,2024-09-21 05:00:00,36.3,2.0,2.0,5.0,Sluggish,Sluggish

In [28]:
df.isnull().sum()

visit_occurrence_id                  0
person_id                            0
measurement_datetime                 0
Body temperature                   407
Left pupil Diameter Auto          1388
Right pupil Diameter Auto         1376
Glasgow coma scale                1828
Right pupil Pupillary response    1201
Left pupil Pupillary response     1215
dtype: int64

In [30]:
df.shape

(4141, 9)

In [32]:
device=pd.read_csv("data/training_data/devices_train.csv")
drug=pd.read_csv("data/training_data/drugsexposure_train.csv")
observation=pd.read_csv("data/training_data/observation_train.csv")
demo=pd.read_csv("data/training_data/person_demographics_episode_train.csv")
procedure=pd.read_csv("data/training_data/proceduresoccurrences_train.csv")
label=pd.read_csv("data/training_data/SepsisLabel_train.csv")

In [33]:
label.shape

(331653, 3)

In [34]:
label.columns

Index(['person_id', 'measurement_datetime', 'SepsisLabel'], dtype='object')

In [35]:
label.head()

    person_id measurement_datetime  SepsisLabel
0   274096387  2024-12-03 20:00:00            0
1  1719359031  2024-04-20 09:00:00            0
2  2024544816  2021-07-14 07:00:00            0
3   213710896  2022-05-24 07:00:00            0
4  1335786468  2024-08-25 22:00:00            0

In [ ]:
# at different date time it is different