In [1]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# now go in the directory and get the columns in each file to see how we going to be doing the join to get a single file
# get files in the directory --> make the path to each file --> then try: learn about try catch and exception try must always have have an except, finally, or else clause.
def get_col_name(dir_path):
    files=os.listdir(dir_path)
    for file in files:
        file_path=os.path.join(dir_path,file)
        try:
            df=pd.read_csv(file_path)
            print(file)
            print(f"Columns: {list(df.columns)}")
            print("shape:",df.shape)
            print(df.isnull().sum())
            print("\n")
        except Exception as e:
            print(f"Error reading file {file}: {e}")

In [3]:
get_col_name("./data/training_data")

devices_train.csv
Columns: ['visit_occurrence_id', 'device_datetime_hourly', 'person_id', 'device']
shape: (750878, 4)
visit_occurrence_id       0
device_datetime_hourly    0
person_id                 0
device                    0
dtype: int64


drugsexposure_train.csv
Columns: ['visit_occurrence_id', 'person_id', 'drug_datetime_hourly', 'drug_concept_id', 'route_concept_id']
shape: (184780, 5)
visit_occurrence_id      0
person_id                0
drug_datetime_hourly     0
drug_concept_id          0
route_concept_id        22
dtype: int64


measurement_lab_train.csv
Columns: ['visit_occurrence_id', 'person_id', 'measurement_datetime', 'Base excess in Venous blood by calculation', 'Base excess in Arterial blood by calculation', 'Phosphate [Moles/volume] in Serum or Plasma', 'Potassium [Moles/volume] in Blood', 'Bilirubin.total [Moles/volume] in Serum or Plasma', 'Neutrophil Ab [Units/volume] in Serum', 'Bicarbonate [Moles/volume] in Arterial blood', 'Hematocrit [Volume Fraction] of Blood', 'Glucose [Moles/volume] in Serum or Plasma', 'Calcium [Moles/volume] in Serum or Plasma', 'Chloride [Moles/volume] in Blood', 'Sodium [Moles/volume] in Serum or Plasma', 'C reactive protein [Mass/volume] in Serum or Plasma', 'Carbon dioxide [Partial pressure] in Venous blood', 'Oxygen [Partial pressure] in Venous blood', 'Albumin [Mass/volume] in Serum or Plasma', 'Bicarbonate [Moles/volume] in Venous blood', 'Oxygen [Partial pressure] in Arterial blood', 'Carbon dioxide [Partial pressure] in Arterial blood', 'Interleukin 6 [Mass/volume] in Body fluid', 'Magnesium [Moles/volume] in Blood', 'Prothrombin time (PT)', 'Procalcitonin [Mass/volume] in Serum or Plasma', 'Lactate [Moles/volume] in Blood', 'Creatinine [Mass/volume] in Blood', 'Fibrinogen measurement', 'Bilirubin measurement', 'Partial thromboplastin time', ' activated', 'Total white blood count', 'Platelet count', 'White blood cell count', 'Blood venous pH', 'D-dimer level', 'Blood arterial pH', 'Hemoglobin [Moles/volume] in Blood', 'Ionised calcium measurement']
shape: (69307, 40)
visit_occurrence_id                                        0
person_id                                                  0
measurement_datetime                                       0
Base excess in Venous blood by calculation             49882
Base excess in Arterial blood by calculation           66760
Phosphate [Moles/volume] in Serum or Plasma            59111
Potassium [Moles/volume] in Blood                      37121
Bilirubin.total [Moles/volume] in Serum or Plasma      54584
Neutrophil Ab [Units/volume] in Serum                  44298
Bicarbonate [Moles/volume] in Arterial blood           66760
Hematocrit [Volume Fraction] of Blood                  41201
Glucose [Moles/volume] in Serum or Plasma              52839
Calcium [Moles/volume] in Serum or Plasma              60903
Chloride [Moles/volume] in Blood                       36266
Sodium [Moles/volume] in Serum or Plasma               36318
C reactive protein [Mass/volume] in Serum or Plasma    46036
Carbon dioxide [Partial pressure] in Venous blood      49880
Oxygen [Partial pressure] in Venous blood              47535
Albumin [Mass/volume] in Serum or Plasma               56555
Bicarbonate [Moles/volume] in Venous blood             47498
Oxygen [Partial pressure] in Arterial blood            66761
Carbon dioxide [Partial pressure] in Arterial blood    66760
Interleukin 6 [Mass/volume] in Body fluid              69246
Magnesium [Moles/volume] in Blood                      57648
Prothrombin time (PT)                                  61282
Procalcitonin [Mass/volume] in Serum or Plasma         56415
Lactate [Moles/volume] in Blood                        48999
Creatinine [Mass/volume] in Blood                      43054
Fibrinogen measurement                                 61336
Bilirubin measurement                                  57808
Partial thromboplastin time                            61333
 activated                                             44146
Total white blood count                                44204
Platelet count                                         62770
White blood cell count                                 47280
Blood venous pH                                        68937
D-dimer level                                          66756
Blood arterial pH                                      41830
Hemoglobin [Moles/volume] in Blood                     44215
Ionised calcium measurement                            69307
dtype: int64


measurement_meds_train.csv
Columns: ['visit_occurrence_id', 'person_id', 'measurement_datetime', 'Systolic blood pressure', 'Diastolic blood pressure', 'Body temperature', 'Respiratory rate', 'Heart rate', 'Measurement of oxygen saturation at periphery', 'Oxygen/Gas total [Pure volume fraction] Inhaled gas']
shape: (257749, 10)
visit_occurrence_id                                         0
person_id                                                   0
measurement_datetime                                        0
Systolic blood pressure                                217654
Diastolic blood pressure                               217667
Body temperature                                        53613
Respiratory rate                                       174445
Heart rate                                             160776
Measurement of oxygen saturation at periphery          160932
Oxygen/Gas total [Pure volume fraction] Inhaled gas    255702
dtype: int64


measurement_observation_train.csv
Columns: ['visit_occurrence_id', 'person_id', 'measurement_datetime', 'Left pupil Diameter Auto', 'Right pupil Diameter Auto', 'Glasgow coma scale', 'Capillary refill [Time]', 'Pulse', 'Arterial pulse pressure', 'Right pupil Pupillary response', 'Left pupil Pupillary response']
shape: (50553, 11)
visit_occurrence_id                   0
person_id                             0
measurement_datetime                  0
Left pupil Diameter Auto          20594
Right pupil Diameter Auto         20485
Glasgow coma scale                15448
Capillary refill [Time]           45150
Pulse                             45879
Arterial pulse pressure           45607
Right pupil Pupillary response    16666
Left pupil Pupillary response     16711
dtype: int64


observation_train.csv
Columns: ['visit_occurrence_id', 'person_id', 'observation_datetime', 'observation_concept_id', 'observation_concept_name', 'valuefilled']
shape: (3807, 6)
visit_occurrence_id         0
person_id                   0
observation_datetime        0
observation_concept_id      0
observation_concept_name    0
valuefilled                 0
dtype: int64


person_demographics_episode_train.csv
Columns: ['visit_occurrence_id', 'person_id', 'visit_start_date', 'birth_datetime', 'age_in_months', 'gender']
shape: (3391, 6)
visit_occurrence_id    0
person_id              0
visit_start_date       0
birth_datetime         0
age_in_months          0
gender                 0
dtype: int64


proceduresoccurrences_train.csv
Columns: ['visit_occurrence_id', 'procedure_datetime_hourly', 'person_id', 'procedure']
shape: (771214, 4)
visit_occurrence_id          0
procedure_datetime_hourly    0
person_id                    0
procedure                    0
dtype: int64


SepsisLabel_train.csv
Columns: ['person_id', 'measurement_datetime', 'SepsisLabel']
shape: (331653, 3)
person_id                0
measurement_datetime    16
SepsisLabel              0
dtype: int64

In [4]:
measurement_lab_train=pd.read_csv("data/training_data/measurement_lab_train.csv")
measurement_meds_train=pd.read_csv("data/training_data/measurement_meds_train.csv")
measurement_observation_train=pd.read_csv("data/training_data/measurement_observation_train.csv")

In [5]:
df_preprocess=[measurement_lab_train, measurement_meds_train, measurement_observation_train]
#  this was dumb i need to get the path though, like ??

In [6]:
def clean(dataarray):
    for df in dataarray:
        for col in df.columns:
            threshold=df.shape[0]* 0.5
            print(threshold)
            # now drop columns which exceed this threshold
            if df[col].isnull().sum() > threshold:
                df.drop(col, axis=1, inplace=True)

In [7]:
data=clean(df_preprocess)

34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
34653.5
128874.5
128874.5
128874.5
128874.5
128874.5
128874.5
128874.5
128874.5
128874.5
128874.5
25276.5
25276.5
25276.5
25276.5
25276.5
25276.5
25276.5
25276.5
25276.5
25276.5
25276.5

In [8]:
measurement_lab_train.isnull().sum()

visit_occurrence_id     0
person_id               0
measurement_datetime    0
dtype: int64

In [9]:
measurement_lab_train.shape

(69307, 3)

In [10]:
measurement_lab_train.columns

Index(['visit_occurrence_id', 'person_id', 'measurement_datetime'], dtype='object')

In [11]:
measurement_meds_train.isnull().sum()

visit_occurrence_id         0
person_id                   0
measurement_datetime        0
Body temperature        53613
dtype: int64

In [12]:
measurement_observation_train.isnull().sum()

visit_occurrence_id                   0
person_id                             0
measurement_datetime                  0
Left pupil Diameter Auto          20594
Right pupil Diameter Auto         20485
Glasgow coma scale                15448
Right pupil Pupillary response    16666
Left pupil Pupillary response     16711
dtype: int64

done as of now
1. cleaned for null value columns greater than threshold

to do
1. empty but needs work
2. merging now
3. check class imbalance               |   feature engineering  |
4. identify relations                  |       pca              |
4. then standardize and normalize
5. model

In [13]:
for df in df_preprocess:
    print(df.columns)

Index(['visit_occurrence_id', 'person_id', 'measurement_datetime'], dtype='object')
Index(['visit_occurrence_id', 'person_id', 'measurement_datetime',
       'Body temperature'],
      dtype='object')
Index(['visit_occurrence_id', 'person_id', 'measurement_datetime',
       'Left pupil Diameter Auto', 'Right pupil Diameter Auto',
       'Glasgow coma scale', 'Right pupil Pupillary response',
       'Left pupil Pupillary response'],
      dtype='object')

In [14]:
print(measurement_lab_train.shape)
print(measurement_meds_train.shape)
print(measurement_observation_train.shape)

(69307, 3)
(257749, 4)
(50553, 8)

In [15]:
df=pd.merge(measurement_lab_train,measurement_meds_train, on=['measurement_datetime','person_id'])

In [16]:
df.shape

(21086, 5)

In [17]:
df.head(20)

,visit_occurrence_id_x,person_id,measurement_datetime,visit_occurrence_id_y,Body temperature
0,933758,523870286,2023-12-08 23:00:00,933758,NaN
1,2322668,1553934216,2024-10-17 16:00:00,2322668,36.40
2,2322668,1553934216,2024-10-17 17:00:00,2322668,36.10
3,2322668,1553934216,2024-10-18 07:00:00,2322668,36.10
4,2322668,1553934216,2024-10-18 08:00:00,2322668,NaN
5,2512220,1938267364,2024-09-19 03:00:00,2512220,37.00
6,2512220,1938267364,2024-09-19 05:00:00,2512220,36.50
7,2512220,1938267364,2024-09-19 06:00:00,2512220,NaN
8,2512220,1938267364,2024-09-19 08:00:00,2512220,NaN
9,2512220,1938267364,2024-09-19 12:00:00,2512220,NaN
10,2512220,1938267364,2024-09-19 15:00:00,2512220,NaN
11,2512220,1938267364,2024-09-19 16:00:00,2512220,35.85
12,2512220,1938267364,2024-09-20 07:00:00,2512220,37.30
13,2512220,1938267364,2024-09-20 08:00:00,2512220,NaN
14,2512220,1938267364,2024-09-20 09:00:00,2512220,36.60
15,2512220,1938267364,2024-09-20 11:00:00,2512220,35.70
16,2512220,1938267364,2024-09-20 23:00:00,2512220,36.30
17,2512220,1938267364,2024-09-21 05:00:00,2512220,36.30
18,2512220,1938267364,2024-09-21 06:00:00,2512220,NaN
19,2512220,1938267364,2024-09-21 07:00:00,2512220,37.20

In [18]:
df.isnull().sum()

visit_occurrence_id_x       0
person_id                   0
measurement_datetime        0
visit_occurrence_id_y       0
Body temperature         2815
dtype: int64

In [19]:
df=pd.merge(df,measurement_observation_train,on=['measurement_datetime','person_id'])

In [20]:
df.shape

(4146, 11)

In [21]:
df.isnull().sum()

visit_occurrence_id_x                0
person_id                            0
measurement_datetime                 0
visit_occurrence_id_y                0
Body temperature                   410
visit_occurrence_id                  0
Left pupil Diameter Auto          1389
Right pupil Diameter Auto         1377
Glasgow coma scale                1830
Right pupil Pupillary response    1202
Left pupil Pupillary response     1216
dtype: int64

In [22]:
df.head(20)

,visit_occurrence_id_x,person_id,measurement_datetime,visit_occurrence_id_y,Body temperature,visit_occurrence_id,Left pupil Diameter Auto,Right pupil Diameter Auto,Glasgow coma scale,Right pupil Pupillary response,Left pupil Pupillary response
0,2322668,1553934216,2024-10-17 16:00:00,2322668,36.4,2322668,2.0,2.0,11.0,Normal,Normal
1,2512220,1938267364,2024-09-19 05:00:00,2512220,36.5,2512220,NaN,NaN,15.0,NaN,NaN
2,2512220,1938267364,2024-09-19 06:00:00,2512220,NaN,2512220,2.0,2.0,13.0,Normal,Normal
3,2512220,1938267364,2024-09-20 07:00:00,2512220,37.3,2512220,3.0,3.0,5.0,Sluggish,Sluggish
4,2512220,1938267364,2024-09-21 05:00:00,2512220,36.3,2512220,2.0,2.0,5.0,Sluggish,Sluggish
5,2512220,1938267364,2024-09-25 07:00:00,2512220,36.1,2512220,2.0,2.0,5.0,Sluggish,Sluggish
6,2512220,1938267364,2024-09-26 07:00:00,2512220,35.7,2512220,2.0,2.0,5.0,Sluggish,Sluggish
7,2512220,1938267364,2024-09-30 07:00:00,2512220,36.6,2512220,2.0,2.0,NaN,Sluggish,Sluggish
8,2512220,1938267364,2024-09-30 21:00:00,2512220,37.4,2512220,3.0,3.0,13.0,Normal,Normal
9,3586050,1523648500,2023-12-16 06:00:00,3586050,NaN,3586050,1.0,1.0,NaN,Sluggish,Sluggish
10,3586050,1523648500,2023-12-16 18:00:00,3586050,NaN,3586050,2.0,2.0,NaN,Normal,Normal
11,3586050,1523648500,2023-12-18 13:00:00,3586050,37.1,3586050,2.5,2.5,3.0,Sluggish,Sluggish
12,3586050,1523648500,2023-12-19 14:00:00,3586050,NaN,3586050,2.5,2.5,NaN,Sluggish,Sluggish
13,3586050,1523648500,2023-12-20 21:00:00,3586050,36.3,3586050,NaN,NaN,NaN,Sluggish,Sluggish
14,3586050,1523648500,2023-12-22 05:00:00,3586050,36.3,3586050,2.5,2.5,4.0,Normal,Normal
15,4692128,1822511629,2022-11-30 09:00:00,4692128,37.4,4692128,2.5,2.5,15.0,Normal,Normal
16,8360514,346741516,2020-12-07 14:00:00,8360514,36.9,8360514,4.0,4.0,NaN,Normal,Normal
17,8402278,1643629975,2022-12-27 01:00:00,8402278,36.8,8402278,3.0,3.0,12.0,Sluggish,Sluggish
18,9157420,1736140874,2020-01-11 15:00:00,9157420,35.3,9157420,3.0,3.0,15.0,Normal,Normal
19,11020774,111287879,2019-12-23 13:00:00,11020774,35.4,11020774,2.0,2.0,NaN,Normal,Normal

In [23]:
df.isnull().sum()

visit_occurrence_id_x                0
person_id                            0
measurement_datetime                 0
visit_occurrence_id_y                0
Body temperature                   410
visit_occurrence_id                  0
Left pupil Diameter Auto          1389
Right pupil Diameter Auto         1377
Glasgow coma scale                1830
Right pupil Pupillary response    1202
Left pupil Pupillary response     1216
dtype: int64

In [24]:
df.drop(['visit_occurrence_id_x','visit_occurrence_id_y'], inplace=True, axis=1)

In [25]:
df.isnull().sum()

person_id                            0
measurement_datetime                 0
Body temperature                   410
visit_occurrence_id                  0
Left pupil Diameter Auto          1389
Right pupil Diameter Auto         1377
Glasgow coma scale                1830
Right pupil Pupillary response    1202
Left pupil Pupillary response     1216
dtype: int64

In [26]:
# sluggish in the eye should be given more weight
# high fever means higher value- can you engineer the rise in temperature to be a metric

In [27]:
device=pd.read_csv("data/training_data/devices_train.csv")
drug=pd.read_csv("data/training_data/drugsexposure_train.csv")
observation=pd.read_csv("data/training_data/observation_train.csv")
demo=pd.read_csv("data/training_data/person_demographics_episode_train.csv")
procedure=pd.read_csv("data/training_data/proceduresoccurrences_train.csv")
label=pd.read_csv("data/training_data/SepsisLabel_train.csv")

In [28]:
df_process=[device,drug,observation,demo,procedure,label]

In [29]:
label.shape

(331653, 3)

In [30]:
label.columns

Index(['person_id', 'measurement_datetime', 'SepsisLabel'], dtype='object')

In [31]:
label.head()

    person_id measurement_datetime  SepsisLabel
0   274096387  2024-12-03 20:00:00            0
1  1719359031  2024-04-20 09:00:00            0
2  2024544816  2021-07-14 07:00:00            0
3   213710896  2022-05-24 07:00:00            0
4  1335786468  2024-08-25 22:00:00            0

In [32]:
device.head()

,visit_occurrence_id,device_datetime_hourly,person_id,device
0,2322668,2024-10-17 10:00:00,1553934216,Arterial blood pressure catheter
1,2322668,2024-10-17 11:00:00,1553934216,Arterial blood pressure catheter
2,2322668,2024-10-17 12:00:00,1553934216,Arterial blood pressure catheter
3,2322668,2024-10-17 13:00:00,1553934216,Arterial blood pressure catheter
4,2322668,2024-10-17 14:00:00,1553934216,Arterial blood pressure catheter

In [33]:
device.drop('visit_occurrence_id',axis=1,inplace=True)

In [34]:
device['device'].value_counts()

device
Urinary catheter                      198542
Central venous catheter               188955
Arterial blood pressure catheter      173702
Nasogastric/orogastric tube stylet    169397
Endotracheal tube                      20282
Name: count, dtype: int64

In [35]:
device['device'].isnull().sum()

0

In [36]:
drug.head()

,visit_occurrence_id,person_id,drug_datetime_hourly,drug_concept_id,route_concept_id
0,933758,523870286,2023-12-06 04:00:00,amoxicillin,Oral
1,933758,523870286,2023-12-06 09:00:00,prednisolone,Oral
2,933758,523870286,2023-12-06 12:00:00,amoxicillin,Oral
3,933758,523870286,2023-12-06 13:00:00,azithromycin,Oral
4,933758,523870286,2023-12-06 17:00:00,methylprednisolone,Intravenous

In [37]:
drug.drop('visit_occurrence_id',axis=1,inplace=True)

In [38]:
drug.isnull().sum()

person_id                0
drug_datetime_hourly     0
drug_concept_id          0
route_concept_id        22
dtype: int64

In [39]:
drug['drug_concept_id'].value_counts()

drug_concept_id
milrinone             28142
epinephrine           16618
vancomycin            13012
dexamethasone         12901
norepinephrine        12267
piperacillin          11364
dopamine               9693
hydrocortisone         8591
meropenem              8567
amoxicillin            8426
methylprednisolone     7614
trimethoprim           6534
prednisolone           5309
cefotaxime             4711
ciprofloxacin          3779
ampicillin             3176
tobramycin             2130
gentamicin             2097
cefazolin              2060
ceftazidime            1684
mupirocin              1554
linezolid              1488
voriconazole           1175
azithromycin           1065
fluconazole            1004
colistin                937
amikacin                907
isavuconazole           706
cefepime                689
teicoplanin             675
levosimendan            665
dobutamine              619
clindamycin             610
micafungin              588
erythromycin            583
penicillin G            462
levofloxacin            441
rifampin                379
ertapenem               277
cefuroxime              266
daptomycin              223
cefadroxil              195
fosfomycin              167
fusidate                130
ceftolozane             102
phenylephrine            88
anidulafungin            57
clarithromycin           47
nitrofurantoin            4
isoproterenol             2
Name: count, dtype: int64

In [40]:
# impute with same for which way but will it matter

In [41]:
observation.head()

,visit_occurrence_id,person_id,observation_datetime,observation_concept_id,observation_concept_name,valuefilled
0,1933014304,1354145347,2021-12-15 20:00:00,44803020,Primary reason for admission,Quirrgico - Electivo
1,469091308,1211327821,2020-01-29 17:00:00,44803020,Primary reason for admission,Quirrgico - Electivo
2,822483951,127099706,2020-06-02 14:00:00,44803020,Primary reason for admission,Quirrgico - Electivo
3,862311390,60715713,2021-02-14 19:00:00,44803020,Primary reason for admission,Mdico
4,960347036,2088110327,2020-07-24 19:00:00,44803020,Primary reason for admission,Mdico

In [42]:
observation.drop(['visit_occurrence_id','observation_concept_id'],axis=1,inplace=True)

In [43]:
observation.isnull().sum()

person_id                   0
observation_datetime        0
observation_concept_name    0
valuefilled                 0
dtype: int64

In [44]:
observation['valuefilled'].value_counts()

valuefilled
Mdico                   2228
Quirrgico - Electivo    1376
Quirrgico - Urgencia     203
Name: count, dtype: int64

In [45]:
demo.head()

,visit_occurrence_id,person_id,visit_start_date,birth_datetime,age_in_months,gender
0,1933014304,1354145347,2021-12-15,2002-05-30,235,MALE
1,469091308,1211327821,2020-01-28,2002-03-23,214,MALE
2,822483951,127099706,2020-06-01,2003-01-15,209,MALE
3,862311390,60715713,2021-02-14,2003-02-21,216,MALE
4,960347036,2088110327,2020-07-24,2003-02-16,209,MALE

In [46]:
demo.drop(['visit_occurrence_id'],axis=1,inplace=True)

In [47]:
demo['gender'].value_counts()

gender
MALE      1952
FEMALE    1439
Name: count, dtype: int64

In [48]:
procedure.head()

,visit_occurrence_id,procedure_datetime_hourly,person_id,procedure
0,933758,2023-12-07 10:00:00,523870286,Cannulation
1,933758,2023-12-07 11:00:00,523870286,Non-invasive ventilation
2,933758,2023-12-07 12:00:00,523870286,Non-invasive ventilation
3,933758,2023-12-07 13:00:00,523870286,Non-invasive ventilation
4,933758,2023-12-07 14:00:00,523870286,Non-invasive ventilation

In [49]:
procedure.drop('visit_occurrence_id',axis=1,inplace=True)

In [50]:
procedure['procedure'].value_counts()

procedure
Cannulation                            584235
Non-invasive ventilation               117261
Invasive ventilation                    35080
Exteriorization of trachea              32168
Peritoneal dialysis                      1477
Dialysis procedure                        925
Extracorporeal membrane oxygenation        68
Name: count, dtype: int64

In [51]:
procedure.isnull().sum()

procedure_datetime_hourly    0
person_id                    0
procedure                    0
dtype: int64

In [52]:
# now get the joins and join on the label wale index

In [53]:
df_process=[device,drug,observation,demo,procedure,label]

In [54]:
df_process[5].isnull().sum()
# datetime ka kya karna hai ask?

person_id                0
measurement_datetime    16
SepsisLabel              0
dtype: int64

In [55]:
df_process[1].isnull().sum()

person_id                0
drug_datetime_hourly     0
drug_concept_id          0
route_concept_id        22
dtype: int64

In [56]:
null_data = drug[drug.isnull().any(axis=1)]

In [57]:
null_data

         person_id drug_datetime_hourly     drug_concept_id route_concept_id
18929   1780122793  2024-06-03 12:00:00       isavuconazole              NaN
44619   2096338859  2023-07-21 12:00:00            amikacin              NaN
47675   1314502207  2024-01-24 11:00:00  methylprednisolone              NaN
47676   1314502207  2024-01-24 23:00:00  methylprednisolone              NaN
47677   1314502207  2024-01-25 11:00:00  methylprednisolone              NaN
47679   1314502207  2024-01-25 23:00:00  methylprednisolone              NaN
47680   1314502207  2024-01-26 11:00:00  methylprednisolone              NaN
47682   1314502207  2024-01-27 00:00:00  methylprednisolone              NaN
47683   1314502207  2024-01-27 11:00:00  methylprednisolone              NaN
47684   1314502207  2024-01-27 22:00:00  methylprednisolone              NaN
47685   1314502207  2024-01-28 11:00:00  methylprednisolone              NaN
47686   1314502207  2024-01-28 23:00:00  methylprednisolone              NaN
47688   1314502207  2024-01-29 23:00:00  methylprednisolone              NaN
47689   1314502207  2024-01-30 11:00:00  methylprednisolone              NaN
121116  1218503080  2022-02-08 21:00:00  methylprednisolone              NaN
121117  1218503080  2022-02-09 09:00:00  methylprednisolone              NaN
121120  1218503080  2022-02-10 09:00:00  methylprednisolone              NaN
121122  1218503080  2022-02-11 09:00:00  methylprednisolone              NaN
121123  1218503080  2022-02-12 09:00:00  methylprednisolone              NaN
121124  1218503080  2022-02-13 09:00:00  methylprednisolone              NaN
121125  1218503080  2022-02-14 09:00:00  methylprednisolone              NaN
123317  1111487987  2021-12-29 18:00:00  methylprednisolone              NaN

In [58]:
count = (drug['drug_concept_id'] == 'methylprednisolone').sum()
print(count)

7614

In [59]:
filtered_rows = drug[drug['drug_concept_id'] == 'methylprednisolone']

In [60]:
filtered_rows['route_concept_id'].value_counts

<bound method IndexOpsMixin.value_counts of 4         Intravenous
7         Intravenous
11        Intravenous
14        Intravenous
18        Intravenous
             ...
184496    Intravenous
184497    Intravenous
184622    Intravenous
184626    Intravenous
184640    Intravenous
Name: route_concept_id, Length: 7614, dtype: object>

In [62]:
row=drug[drug['drug_concept_id']=='amikacin']

In [64]:
row['route_concept_id'].value_counts()

route_concept_id
Intravenous     893
Intramuscula     13
Name: count, dtype: int64

In [66]:
row2=drug[drug['drug_concept_id']=='isavuconazole']

In [68]:
row2['route_concept_id'].value_counts()

route_concept_id
Intravenous    529
Oral           176
Name: count, dtype: int64

impute as intravenous because ek hi hai for all and see severity is relagted to the method or route of introduction
impute intravenous wherever the value drug is methylprednisolone


merging and then testing it out then submission
next works